#board {
  margin-top: 10px;
}
.messages {
  font-size: 30px;
  color: #000000;
}
.box {
  border: 1px solid #000000;
  height: 150px;
  font-size: 90px;
}

.X {
  color: #ea6206;
}

.O {
  color: #000000;
}
