#board {
  margin-top: 10px;
}
.messages {
  font-size: 30px;
  color: #000000;
}
.box {
  height: 150px;
  font-size: 90px;
}
  #a1 {
    border-right: 5px groove #7a7979;
    border-bottom: 5px groove #7a7979;
  }
  #a2 {
    border-bottom: 5px groove #7a7979;
  }
  #a3 {
    border-left: 5px groove #7a7979;
    border-bottom: 5px groove #7a7979;
  }
  #b1 {
    border-right: 5px groove #7a7979;
    border-bottom: 5px groove #7a7979;
  }
  #b2 {
    border-bottom: 5px groove #7a7979;
  }
  #b3 {
    border-left: 5px groove #7a7979;
    border-bottom: 5px groove #7a7979;
  }
  #c1 {
    border-right: 5px groove #7a7979;
  }
  #c3 {
    border-left: 5px groove #7a7979;
  }

.X {
  color: #ea6206;
}

.O {
  color: #000000;
}
